@import url('https://fonts.cdnfonts.com/css/lexend');
@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  background-color: #020617;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
  
  
}

*{
  scroll-behavior: auto;
  font-family: 'Lexend', sans-serif;                                 
  color: rgb(216, 216, 216);
  transition: all 400ms;
}

